.venv/
venv/
.DS_Store

*.py[cod]
__pycache__/

.coverage
.mypy_cache/
.pytest_cache/
.pytest_cache/
.tox
htmlcov/

*.egg
*.egg-info/
build/
dist/

.env
settings.toml

.idea/
.junie/
.claude/
tmp/

*.yaml
